<div id="airports">AIRPORTS</div>

<div id="date-filter">
  <form class="form-inline">
    <div class="form-group">
      <label>Departure Date
        <input type="date" class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Passengers
        <input type="number" class="form-control">
      </label>
    </div>
  </form>
</div>

<div id="price-filter">
  <form class="form-inline">
    <div class="form-group">
      <label>Minimum Price
        <input type="number" class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Maximum Price
        <input type="number" class="form-control">
      </label>
    </div>
  </form>
</div>

<div id="active-filters">ACTIVE FILTERS</div>