<div class="index-container container-fluid">

  <h2 class="index-item"><%= flight.escape('aircraft') %> from <%= flight.departureAirport.escape('name') %></h2>
  
  <div class="index-item">
    <div class="index-item">Date: <%= flight.escape('departure_date') %></div>
    <div class="index-item">Passengers: <%= flight.escape('passengers') %></div>

    <button class="btn btn-success index-item">Edit</button>
    <button class="btn btn-danger index-item">Delete</button>
  </div>

</div>