<div class="search-item">

  <div class="small-flight-picture"><img src="http://placekitten.com/g/300/200"></div>

  <p><%= flight.get("aircraft") %>, <%= flight.departureAirport.get('name') %></p>

</div>