<div class="search-page-el map-container">
  <div id="map-canvas"></div>
</div>

<div class="search-page-el" id="search-container">
  <div id='filters'></div>

  <div id="listings"></div>
</div>

<script type="text/javascript">

  
</script>