<div class="search-page-el" id="map-canvas">MAP</div>

<div class="search-page-el" id="search-container">
  <div class="search-page-el" id='filters'></div>

  <div class="search-page-el" id="listings"></div>
</div>

<script type="text/javascript">

  var latitude = 37.6188;
  var longitude = -122.3754;

  var mapOptions = {
    center: { lat: latitude, lng: longitude },
    zoom: 12
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
</script>