<div class="search-item">

  <div class="small-flight-picture"><img src="http://placekitten.com/g/300/200"></div>

  <p><%= flight.escape("aircraft") %>, <%= flight.departureAirport.escape('name') %></p>
  <p><%= flight.owner.escape("username") %></p>

</div>