  <div class="search-page-el" id="map">MAP</div>

  <div class="search-page-el" id="search-container">
    <div class="search-page-el" id='filters'>FILTERS</div>

    <div class="search-page-el" id="listings">LISTINGs</div>
  </div>