<div id="large-flight-picture"><img src="http://placekitten.com/g/1000/300"></div>

<div id="listing-details">
  <div id="flight-details">
    <h2><%= flight.escape("aircraft") %>, 
      <% if (flight.departureAirport) { %> 
        <%= flight.departureAirport.escape('name') %> 
      <% } %>
    </h2>
    <p><%= flight.escape('description') %></p>
  </div>
  <div id="booking-panel">BOOKING
  </div>
</div>