<label>Departure Airport
  <select name="flight[departure_airport_id]" class="form-control">
    <% _(airports).each(function (airport) { %>
      <option value="<%= airport.id %>"><%= airport.get('name') %></option>
    <% }); %>
  </select>
</label>