<label>Departure Airport
  <select name="flight[departure_airport_id]" class="form-control">
    <% airports.forEach(function (airport) { %>
      <option value="<%= airport.id %>"><%= airport.escape('name') %></option>
    <% }); %>
  </select>
</label>