<div class="form-group airports-checkboxes">
  <% airports.each(function (airport) { %>
    <div class="airport-checkbox">
      <label class="checkbox"><%= airport.escape('name') %>
        <input name="airport[]" 
               value="<%= airport.id %>"
               type="checkbox" 
               class="form-control"
               <% if (_.contains(selected, airport.id)) { %>
                 checked
               <% } %>
               >
      </label>
    </div>
  <% }); %>
</div>