<form id="new-airport-form">
  <div class="form-group">
    <label>Name
      <input type="text" name="airport[name]" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>ICAO Code
      <input type="text" name="airport[icao_code]" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>IATA Code
      <input type="text" name="airport[iata_code]" class="form-control">
    </label>
  </div>

  <div class="form-group">
    <label>Latitude
      <input type="number" name="airport[latitude]" class="form-control" step="any">
    </label>
  </div>

  <div class="form-group">
    <label>Longitude
      <input type="number" name="airport[longitude]" class="form-control" step="any">
    </label>
  </div>

  <input type="submit" class="btn btn-primary" value="Add airport">
</form>