<h3>Book this flight for $<%= flight.escape('price') %></h3>

<p>Departing <%= flight.escape('departure_date') %></p>

<form id="flight-booking-form" role="form">
  <div class="form-group">
    <label>How many passengers?
      <input type="number" class="form-control" name="reservation[passengers]">
    </label>
  </div>

    <input type="hidden" name="reservation[flight_id]" value="<%= flight.id %>">

  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Make reservation!">
  </div>
</form>