<h1 class="index-title">Manage your reservations</h1>

<h2 class="index-title">Flights You Reserved</h2>
<ul id="reservation-index" class="index-list">

</ul>

<h2 class="index-title">Reservations for Your Flights</h2>

<ul id="reserved-flights-index" class="index-list">

</ul>
