<div class="index-container container-fluid">
  <% if (reservation.flight) { %>
    <h2><%= reservation.flight.escape('aircraft') %></h2>

    <p>
      Departing from <%= reservation.departureAirport.escape('name') %> on <%= reservation.flight.escape('departure_date') %>.
    </p>
  <% } %>
</div>