<div class="index-container container-fluid">
  <% if (reservation.flight) { %>
    <h2><%= reservation.flight.escape('aircraft') %></h2>
    <p>
      Departing from <%= reservation.flight.escape('airport') %> on <%= reservation.flight.escape('date') %>.
    </p>
  <% } %>
</div>