<div class="index-container container-fluid">
  <% if (reservation.flight) { %>
    <h2><%= reservation.flight.escape('aircraft') %></h2>

    <p>
      Departing from <%= reservation.departureAirport.escape('name') %> on <%= reservation.flight.escape('departure_date') %>.
    </p>
  <% } %>

  <button class="btn btn-danger index-item" id="cancel">Cancel Reservation</button>
  <button class="btn btn-success index-item" id="confirm">Confirm</button>
  <button class="btn btn-danger" id="reject">Reject</button>
</div>
