<h1>Update your profile!</h1>

<form role="form" id="edit-user-form">
  <div class="form-group">
      <label>Username
        <input type="text" name="user[username]" value="<%= user.get("username") %>" class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Email Address
        <input type="text" name="user[email]" value="<%= user.get("email") %>" class="form-control">
      </label>
    </div>

    <div class="form-group">
      <label>Description
        <textarea name="user[description]" class="form-control"><%= user.get('description') %></textarea>
      </label>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" id="filepicker">Upload an image</button>
    </div>

    <span id="image-url"><%= user.get('photo_url') %></span>

    <div class="form-group">
      <input type="submit" value="Update Profile!" class='btn btn-primary' id="edit-user-button">
    </div>
  </form>
</form>