
<h3>Leave a Review</h3>

<form id="new-comment-form" role="form">
  <div class="form-group">
    <textarea name="comment[content]" class="form-control description"></textarea>
  </div>

  <input type="submit" class="btn btn-primary" value="Submit Review">
</form>