<h3>Leave a Comment</h3>

<form id="new-comment-form">
  <textarea name="comment[content]" class="form-control description"></textarea>

  <input type="submit" class="btn btn-primary" value="Submit Comment">
</form>