<div class="comment-author comment-content">
  <div class="profile-thumbnail">
    <img src="<%= comment.author.escape('photo_url') %>/convert?w=50&compress=true&cache=true">
  </div>
  <span><%= comment.author.escape("username") %></span>
</div>

<div class="comment-body comment-content">
  <p><%= comment.escape("content") %></p>
</div>