<div class="form-background">
  <div class="landing-element landing-title-bar">
    <h1 id="landing-title">Where do you want to fly today?</h1>
  </div>

  <div id="landing-search-bar" class="landing-element">
  </div>
</div>