<form id="landing-search-form">
  <input type="text" name="departure_location" value="Where do you want to take off?">
  <input type="text" name="departure_date" value="When do you want to fly?">
  <input type="submit" value="Fly!">
</form>