<form id="landing-search-form" class="form-inline">
  <div class="form-group">
    <label id="airport-select">
    </label>
  </div>

  <div class="form-group">
    <label><span class="search-label">When do you want to fly?</span>
      <input type="date" name="departure_date">
    </label>
  </div>

  <input type="submit" value="Fly!" class="btn btn-primary">
</form>