<h1>Hello from the root!</h1>

<%= current_user.username %>

<%= button_to 'Sign out', session_url, method: :delete %>

<div id="main">
  <div class="search-page-el" id="map">MAP</div>

  <div class="search-page-el" id="search-container">
    <div class="search-page-el" id='filters'>FILTERS</div>

    <div class="search-page-el" id="listings">LISTINGs</div>
  </div>
</div>