#large-flight-picture {
  height: 300px;
  background: red;
}

#listing-details {
  width: 80%;
  background: green;
  min-height: 300px;
  margin: auto;
}

#flight-details {
  width: 70%;
  float: left;
  background: orange;
}

#booking-panel {
  width: 30%;
  height: 300px;
  float: left;
  background: purple;
}