#large-flight-picture {
  height: 300px;
  background: red;
}

#listing-details {
  width: 80%;
  min-height: 300px;
  margin: auto;
  padding: 5px;
}

#flight-details {
  width: 70%;
  float: left;
  border: 1px solid grey;
  padding: 5px;
}

#booking-panel {
  width: 30%;
  height: 300px;
  float: left;
}

#new-form-container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.index-title {
  margin: auto;
  text-align: center;
}

.index-item {
  margin: auto;
  text-align: center;
}

.index-container {
  border: 1px solid grey;
  width: 60%;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}

.index-container:hover {
  background: lightgrey;
}