#large-flight-picture {
  height: 300px;
  overflow: hidden;
  background: lightgrey;
}

#listing-details {
  width: 80%;
  min-height: 300px;
  margin: auto;
  padding: 5px;
}

#flight-details {
  width: 70%;
  float: left;
  padding: 5px;
}

#form-container {
  width: 60%;
  margin: auto;
  text-align: center;
}

#price-filter {
  width: 80%;
  margin: 5px auto;
}

.index-title {
  margin: auto;
  text-align: center;
}

.index-item {
  margin: auto;
  text-align: center;
}

.index-container {
  border: 1px solid grey;
  width: 60%;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  padding: 5px;
}

.index-container:hover {
  background: lightgrey;
}

.flight-owner {
  display: inline-block;
}

.profile-thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
}

#errors {
  position: absolute;
  left: 60%;
  bottom: 10%;
}

.flight-show-image {
  height: 100%;
  margin: auto;
}