.landing-element {
  width: 60%;
  margin: auto;
  text-align: center;
}

#landing-title {
  margin: 0;
  font-size: 6em;
  color: white;
  font-weight: bold;
  padding-bottom: 5px;
}

.form-background {
  background-image: url('landing_dc_3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  position: relative;
  height: 90vh;
}

#landing-search-bar {
  bottom: 0%;
  position: absolute;
  padding: 50px;
}

.landing-element {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
}

#landing-search-form {
  margin: auto;
}

.form {
  text-align: center;
}

.landing-label {
  color: white;
}

.landing-title-bar {
  top: 0%;
}

div.form-group.landing-btn {
  vertical-align: top;
}