.landing-element {
  width: 60%;
  margin: auto;
  text-align: center;
}

#landing-title {
  font-size: 5em;
  color: red;
  font-weight: bold;
}

#landing-main {
  background-image: url('landing_dc_3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  min-height: 600px;
  position: relative;
}

#landing-search-bar {
  bottom: 0%;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 50px;
}

#landing-search-form {
  margin: auto;
}

.form {
  text-align: center;
}

.landing-label {
  color: white;
}

div.form-group.landing-btn {
  vertical-align: top;
}