.index-list {
  list-style: none;
}

.booking-title {
  margin: 0;
  padding: 5px;
  background: grey;
  color: white;
}

#booking-panel {
  width: 30%;
  float: left;;
  padding: 0px;
}

.btn.booking-btn {
  width: 100%;
  border-radius: 0;
  background-color: rgb(255, 90, 95);
  border-color: rgb(255, 90, 95);
}

.btn.booking-btn:hover {
  
}