.search-page-el {
  float: left;
}

#main {
  min-height: 500px;
  padding: 0;
  text-align: center;
}

#map-canvas {
  width: 40%;
  height: 500px;
}

#search-container {
  width: 60%;
  height: 500px;
  overflow-y: scroll;
  text-align: center;
}

#filters, #listings {
  width: 100%;
}

#filters {
  border: 1px solid lightgrey;
}

nav.navbar {
  margin-bottom: 0px;
}

.new {
  background-image: url("sky.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  min-height: 600px;
  position: relative;
}

textarea.form-control.description {
  width: 300px;
  height: 100px;
}