.search-page-el {
  float: left;
}

#main {
  min-height: 500px;
}

#map {
  width: 40%;
  height: 500px;
  background: blue;
}

#search-container {
  width: 60%;
  background: red;
  height: 500px;
}

#filters, #listings {
  width: 100%;
}

nav.navbar {
  margin-bottom: 0px;
}