.search-page-el {
  float: left;
}

#main {
  min-height: 500px;
}

#map {
  width: 40%;
  height: 500px;
  background: blue;
}

#search-container {
  width: 60%;
  height: 500px;
  overflow-y: scroll;
}

#filters, #listings {
  width: 100%;
}

#filters {
  border: 1px solid lightgrey;
}

nav.navbar {
  margin-bottom: 0px;
}