.search-item {
  width: 300px;
  height: 250px;
  overflow: hidden;
  float: left;
  margin: 10px;
  position: relative;
}

.small-flight-picture {
  width: 100%;
  height: 75%;
}

.search-owner {
  position: absolute;
  top: 50%;
  left: 5%;
  border: 4px solid white;
}